@charset "UTF-8";
/*common style  */
body{
	vertical-align:top;
	margin:0;
	padding:0;
	color:rgba(0,0,0,0.8);
	font-family: sans-serif;
}

.wrapper{
	width:80%;
	min-width:500px;
	margin:0 auto;
}
.contents .wrapper{
	text-align: center;
}

input[type="button"]{
	background: #bf0000;
	color:rgba(255,255,255,0.9);
	border: none;
	border-radius: 5px;
	font-size:1em;
	transition:0.3s;
	cursor:pointer;
}

input[type="button"]:hover{
	background: rgba(255,255,255,0.9);
	color:#bf0000;
	border: solid 1px #bf0000 ;
	border-radius: 5px;
	font-weight: bold;
}


.hidden{
	display:none;
	height:0;
}

.red-white{
	background: #bf0000;
	color:rgba(255,255,255,0.9);
}
.white-red{
	background:rgba(255,255,255,0.9) ;
	color:#bf0000;
}
/*header part  */
header{
	font-size: 2em;
	font-weight:bold;
	position: relative;
}
/*upload part  */
form{
	width: 60%;
    display: inline-block;
}

.nameCard{
	width:200px;
	height:30px;
	position:absolute;
	font-weight: bold;
	left:-10px;
	top:-10px;
	font-size:18px;
	border-radius:10px;
}
.file_upload{
	position:relative;
	text-align: center;
	font-size:15px;
	margin-top:20px;
	height:200px;
	border:2px solid rgba(0,0,0,0.2);
	border-radius:10px;
}
input[type="file"]{
	width:50%;
	margin-top:30px;
	border:1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
}
.uploadBtn{
	margin-top:20px;
	width:150px;
	height:40px;
}
.explain{
	position:relative;
	margin-top:30px;
}
.error{
	margin-top:8px;
	color:#bf0000;
}
.smallize{
	margin-top:10%;
}

/*showInfo part  */
.showInfo{
	height:400px;
}
.resultNo{
	float:left;
	font-size: 13px;
	line-height:3.0;
}
.search-bar{
	margin-top:10px;
	text-align: right;
	margin-right:30px;
}
.searchBtn{
	width:100px;
	height:30px;
}
.result{
	width:100%;
	min-width:600px;
	margin-top:10px;
	height:350px;
}
.table_body{
	height:300px;
	overflow: auto;
}
.tr{
	position:relative;
	min-width:600px;
	height:36px;
}
.tr{
	height:30px;
}
.th,.td{
	float:left;
	border-collapse: collapse;
	text-align:left;
	padding:2px;
	padding-left:10px;
}
.th{
	background:#bf0000;
	border:#bf0000 1px solid;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
}
.td{
	background:white;
	border:#bf0000 1px solid;
	color:rgba(0,0,0,0.7);
	font-size:14px;
}
.shop{
	width:47%;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	cursor:default;
}


.start_date{
	width:21%;
}
.end_date{
	width:21%;
}

